/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {

-fx-background-color: #A0CEDE;	
-fx-font: normal normal 24.0px Verdana;
-fx-text-fill: #e3e3e3;
-fx-alignment: CENTER;
-fx-border-color: black;
	
}

.button:hover {
	
	-fx-background-color: #A0CEEF;	
	
}

.button:pressed {
	
	-fx-background-color: #A0CEFF;	
	
}

.credit {

-fx-background-color: #A0CEDE;	
-fx-font: normal normal 24.0px Verdana;
-fx-text-fill: #000000;
-fx-alignment: CENTER;
-fx-border-color: black;
	
}




.toggle {
	
-fx-background-color: #A0CEDE;	
-fx-font: normal normal 24.0px Verdana;
-fx-text-fill: #e3e3e3;
-fx-alignment: CENTER;
-fx-border-color: black;
	
}

.toggle:selected {
	
-fx-background-color: #A0CEDE;	
	
	
}

.background {
	
-fx-background-color: #B3C2BF;	
	
}

